<template>
  <div class="container">
    <h1>Weather App</h1>
    <div class="search-wrapper">
      <input
        class="search-input"
        placeholder="Enter City or Country name here..."
        v-model="query"
        @focus="clearMeessages"
      />
      <span class="error">{{errorMessage}}</span>
      <button @click="getWeather">Get local time, weather and temperature</button>
    </div>
    <div class="weather-information-wrapper" v-if="typeof weather.location != 'undefined'">
      <div class="location">{{weather.location.name}}, {{weather.location.country}}</div>
      <div class="time">{{weather.location.localtime}}</div>

      <div class="temp">
        <span v-if="tempDisplay == 'celsius'">
          {{weather.current.temp_c}}
          <span>&#8451;</span>
        </span>

        <span v-if="tempDisplay == 'fahrenheit'">
          {{weather.current.temp_f}}
          <span>&#8457;</span>
        </span>
      </div>

      <div class="radioWrapper">
        <span>
          <input type="radio" id="celsius" value="celsius" v-model="tempDisplay" />
          <label for="celsius">Display temperature in Celsiuse</label>
        </span>
        <span>
          <input type="radio" id="fahrenheit" value="fahrenheit" v-model="tempDisplay" />
          <label for="fahrenheit">Display temperature in Fahrenheit</label>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      api_key: process.env.VUE_APP_KEY,
      url_base: "http://api.weatherapi.com/v1/current.json?key=",
      query: "",
      weather: {},
      errorMessage: "",
      tempDisplay: "celsius"
    };
  },
  methods: {
    getWeather() {
      fetch(`${this.url_base} ${this.api_key} &q= ${this.query}`)
        .then(res => {
          if (res.ok) {
            return res.json();
          }
          let err = new Error(
            "Please ensure you have entered a valid City or Country"
          );
          throw err;
        })
        .then(this.setResults)
        .catch(error => {
          this.errorMessage = error;
        });
    },
    setResults(results) {
      this.weather = results;
      this.query = "";
    },
    clearMeessages() {
      this.errorMessage = "";
    }
  }
};
</script>

<style>
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
}

.container {
  background-color: #426da9;
  min-height: 300px;
  max-height: 730px;
  max-width: 500px;
  padding: 30px;
  margin: 10px auto 0;
  border-radius: 30px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

.search-wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.search-input {
  display: inline-block;
  width: 60%;
  padding: 15px;
  margin: 15px 0px;
  color: grey;

  appearance: none;
  border: none;
  outline: none;
}
button {
  border-radius: 15px;
  padding: 15px;
  background-color: #1d4f91;
  border: 1px solid #1d4f91;
  color: #ffffff;
  max-width: 190px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}
button:hover {
  border: 1px solid #ffffff;
}

.information-wrapper {
  color: #ffffff;
  text-align: center;
}
.location {
  font-size: 33px;
}
.date {
  margin: 5px 0 0;
  font-size: 20px;
}

.time {
  margin: 5px 0 0;
  font-size: 16px;
}

.radioWrapper {
  max-width: 270px;
  margin: 0 auto;
  text-align: left;
}

.radioWrapper span {
  display: block;
}

.radioWrapper input {
  margin-right: 5px;
}

.temp {
  display: inline-block;
  max-width: 350px;
  padding: 10px 25px;
  font-size: 60px;
  background-color: rgb(255, 255, 255, 0.25);
  border-radius: 16px;
  margin: 30px 0px;
  margin: 30px auto;
}

.weather {
  font-size: 28px;
  margin: 10px;
}

.error {
  color: #e4002a;
  display: block;
  font-size: 0.8em;
  max-width: 240px;
  margin: 0 auto;
}
</style>
